@font-face {
font-family: PlayfairDisplaySC-Bold; 
src: url(fonts/PlayfairDisplaySC-Bold.ttf); 
}

@font-face {
font-family: PlayfairDisplaySC-Regular; 
src: url(fonts/PlayfairDisplaySC-Regular.ttf); 
}

@font-face {
font-family: Literata-ExtraBold; 
src: url(fonts/Literata_60pt-ExtraBold.ttf); 
}

@font-face {
font-family: Qwigley-Regular; 
src: url(fonts/Qwigley-Regular.ttf); 
}

@font-face {
font-family: Philosopher-Regular; 
src: url(fonts/Philosopher-Regular.ttf); 
}

@font-face {
font-family: Honeyscriptcyr_light; 
src: url(fonts/honeyscriptcyr_light.otf); 
}

body {
	margin:0;
	background-color: #000;
	}

nav {
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display: inline;
}

.menu {
	font-family: PlayfairDisplaySC-Bold;
    font-size: 20px;
    color: #b5b5b5;
    
    padding: 0 73px;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}

.menu:hover {
    font-size: 22px;
    color: #e3e3e3;
}

.menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #858585;
    transition: width 0.3s;
}

.menu:hover::after {
    width: 200px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: #b5b5b5;
    padding: 0 20px;
    cursor: pointer;
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
	text-align: center;
}

.full-screen-menu ul {
    list-style-type: none;
    padding: 0;
}

.full-screen-menu li {
    margin: 20px 0;
}

.full-screen-menu a {
    color: #e3e3e3;
    font-size: 24px;
    text-decoration: none;
}

.wrap-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5% 8% 0% 8%;
  justify-content: space-around;

}

footer {
	display: flex;
    justify-content: center;
	align-content: center;
	align-items: center;
	font-family: PlayfairDisplaySC-Regular; 
	margin-top: 5%;
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: #171717;
	color: #b8b8b8;
}

.line-1, .line-2{
	height: 2px;
	background-color: #7f7f7f;
	margin-top:0.7%;
}


.line-wrap {
	display: flex;
	align-items: center;
    justify-content: space-between;
	height: 50px;
	margin-top: 100px;
}

.line-1 {
	width: 10%;
}

.line-2 {
	width: 70%;
}

.title2 {
	font-family: PlayfairDisplaySC-Regular;
	color: #e3e3e3;
	font-size: 40px;
	margin-top: 0%
}


.wrap-text {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.container_form {
	width: 60%;
	height: 420px;
	border-radius: 15px;
	background-color: #212121;
	color: #b8b8b8;
	margin:  0% 5% 0% 0%;
	padding: 20px;
}

.container_contact {
	width: 100%;
	height: 140px;
	border-radius: 15px;
	background-color: #212121;
	color: #b8b8b8;
}

.container {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	width: 50%;
}

h2 {
	color: #b8b8b8;
	font-size: 25px;
	font-family: PlayfairDisplaySC-Bold;
	text-align: center;
	padding: 0;
	line-height: 1;
}

label {
	color: #b8b8b8;
	font-size: 18px;
	font-family: PlayfairDisplaySC-Regular; 
	line-height: 1.5;
	padding-top: 30px;
	width: 100%;
}

input {
	width: 99%;
	background-color: #b8b8b8;
	height: 35px;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: PlayfairDisplaySC-Regular; 
}

textarea {
	width: 99%;
	background-color: #b8b8b8;
	height: 85px;
	font-size: 30px;
	font-family: PlayfairDisplaySC-Regular; 
}

span {
	color: #ec1211;
}

.link_button {
	font-family: PlayfairDisplaySC-Regular;
	font-size: 23px;
	color: #f0ebe8;
	
	display: flex;
	align-items: center;
    text-align: center;
	justify-content: center;
	text-decoration: none;
	width: 250px;
	height: 50px;
	
	border-radius: 10px;
	background-color: #171717;
	border: 1px solid #dba21d;
	text-transform: uppercase;
	transition: 0.5s;
	
	margin: 10px auto;

}

.link_button:hover {
	background-color: #dba21d;
	border: 1px solid #dba21d;
	color: #000;
	font-weight: bold;
}

ul, li {
	list-style-type: none;
}
.contact_list {
	margin-bottom: 20px;
}

.contacts_item {
	color: #b8b8b8;
	font-size: 18px;
	font-family: PlayfairDisplaySC-Regular; 
	line-height: 1.5;
	width: 100%;
}

.contacts_icon{
	margin-right: 15px;
	height: 25px;
	width: auto;
}

.contacts_telto{
	color: #b8b8b8;
	font-size: 24px;
	font-family: Philosopher-Regular; 
}

a {
	text-decoration: none;
	
}

.logo_img {
	height: 40%;
	width: auto;
	margin: 5% auto;
}

@media (max-width: 1024px){
	.contacts_telto{
	font-size: 20px;
}

.line-2 {
	width: 60%;
}

ul {
	padding: 0px 25px;
}

.container_contact {
	width: 100%;
	height: 130px;
}
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container_form, .container_contact {
        width: 90%;
        margin: 10px 0;
    }

    .logo_img {
        width: 70%;
        height: auto;
        margin: 20px 0;
    }
	
	.wrap-text {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contacts_telto{
	font-size: 24px;
}

nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
    } 
	
	ul.contact_list {
	padding: 0px 40px;
}
	
.container_contact {
	width: 100%;
	height: 130px;
}
.container_form {
	margin-bottom: 30px;
}

}

@media (max-width: 360px) {
   .line-2 {
	width: 40%;
}
   .title2 {
	font-size: 30px;
	text-align: center;
}

.container_form {
	height: 480px;
	margin-bottom: 20px;
}

.contacts_telto{
	font-size: 18px;
}

ul.contact_list {
	padding: 0px 15px;
} 

.contacts_icon{
	margin-right: 5px;
	height: 15px;
	width: auto;
}

.container_contact {
	width: 100%;
	height: 115px;
}

footer {
	  text-align: center;
  }
}