@font-face {
font-family: PlayfairDisplaySC-Bold; 
src: url(fonts/PlayfairDisplaySC-Bold.ttf); 
}

@font-face {
font-family: PlayfairDisplaySC-Regular; 
src: url(fonts/PlayfairDisplaySC-Regular.ttf); 
}

@font-face {
font-family: Literata-ExtraBold; 
src: url(fonts/Literata_60pt-ExtraBold.ttf); 
}

@font-face {
font-family: Qwigley-Regular; 
src: url(fonts/Qwigley-Regular.ttf); 
}

@font-face {
font-family: Philosopher-Regular; 
src: url(fonts/Philosopher-Regular.ttf); 
}

@font-face {
font-family: Honeyscriptcyr_light; 
src: url(fonts/honeyscriptcyr_light.otf); 
}

body {
	margin:0;
	background-color: #000;
	}

nav {
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    display: inline;
}

.menu {
	font-family: PlayfairDisplaySC-Bold;
    font-size: 20px;
    color: #b5b5b5;
    
    padding: 0 73px;
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}

.menu:hover {
    font-size: 22px;
    color: #e3e3e3;
}

.menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #858585;
    transition: width 0.3s;
}

.menu:hover::after {
    width: 200px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: #b5b5b5;
    padding: 0 20px;
    cursor: pointer;
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
	text-align: center;
}

.full-screen-menu ul {
    list-style-type: none;
    padding: 0;
}

.full-screen-menu li {
    margin: 20px 0;
}

.full-screen-menu a {
    color: #e3e3e3;
    font-size: 24px;
    text-decoration: none;
}

.wrap-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1% 8% 4%;
  justify-content: space-around;

}

footer {
	display: flex;
    justify-content: center;
	align-content: center;
	align-items: center;
	font-family: PlayfairDisplaySC-Regular; 
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: #171717;
	color: #b8b8b8;
	
}

.line-1, .line-2, .line-3{
	height: 2px;
	background-color: #7f7f7f;
	margin-top:0.7%;
}


.line-wrap, .line-wrap-text {
	display: flex;
	align-items: center;
    justify-content: space-between;
	height: 50px;
	margin-top: 100px;
}

.line-wrap-text {
	margin-top: 10px;
}

.line-1 {
	width: 10%;
}

.line-2 {
	width: 66%;
}

.line-3 {
	width: 58%
}

.title2, .title3 {
	font-family: PlayfairDisplaySC-Regular;
	color: #e3e3e3;
	margin-top: 0%
}
.title2 {
	font-size: 40px;
}

.title3 {
	font-size: 32px;
}

.wrap-text {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.top {
	width: 100%;
	height: auto;
	margin: 20px auto;
}

p {
  text-indent: 30px;
  margin-top: 20px;
  line-height: 1.25;
}


.text, p{
  text-indent: 23px;
  color: #fff;
  font-size: 25px;
  line-height: 1;
  font-family: Philosopher-Regular;
  text-align: justify;
  opacity: 0.9;
}

span {
	color: #e9ae21;
	font-weight: bolder;
}


.wrap-text {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.logo_img {
	height: 230px;
	width: auto;
	margin: 0% 8%;
}

ul, li {
	list-style-type: none;
}

.team_list {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	flex-wrap: wrap;
}

.team_person {
	flex: 1;
	text-align: center;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team_person img {
	width: 310px;
	height: auto;
}

.team_info {
	background-color: #212121;
	color: #b8b8b8;
	width: 90%;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	border-radius: 15px;
}

.info_h1, .info_h2, .info_h3 {
	text-indent: 0px;
}

.info_h1 {
	text-align: center;
	color: #e9ae21;
	margin: 0%;
	font-size: 28px;
	font-weight: bolder;
	text-indent: 0px;
}

.info_h2 {
	text-align: center;
	text-indent: 0px;
	margin: 3%;
	font-size: 24px;
}

.info_h3 {
	text-align: center;
	margin: 2%;
	font-size: 20px;
	color: #b5b5b5;
}

@media (max-width: 1024px){
	.line-1 {
	width: 10%;
}

   .line-3 {
	width: 46%
}
   .line-2 {
	width: 60%;
}

   .title2 {
	font-size: 35px;
}
    .title3 {
	font-size: 28px;
}
}

@media (max-width: 767px) {
	.line-3 {
	width: 42%
}
   .line-2 {
	width: 53%;
}
.wrap-text {
	display: flex;
    flex-direction: column;
}

.logo_img {
	margin: 0% auto;
}

.team_list {
	flex-direction: column;
	align-items: center;
            }

.team_person {
	margin-bottom: 20px;
 }

.team_person img {
	width: 300px;
}

.team_info {
         width: 100%;
}

nav ul {
        display: none;
    }

    .menu-icon {
        display: block;
    }
	
	.title2, .title3 {
	text-align: center;
}
}

@media (max-width: 360px) {
.line-3 {
	width: 20%
}
   .line-2 {
	width: 40%;
}
   .title2 {
	font-size: 30px;
	text-align: center;
}
    .title3 {
	font-size: 22px;
	text-align: center;
}
footer {
	  text-align: center;
  }
}