@font-face {
font-family: PlayfairDisplaySC-Bold; 
src: url(fonts/PlayfairDisplaySC-Bold.ttf); 
}

@font-face {
font-family: PlayfairDisplaySC-Regular; 
src: url(fonts/PlayfairDisplaySC-Regular.ttf); 
}

@font-face {
font-family: Literata-ExtraBold; 
src: url(fonts/Literata_60pt-ExtraBold.ttf); 
}

@font-face {
font-family: Qwigley-Regular; 
src: url(fonts/Qwigley-Regular.ttf); 
}

@font-face {
font-family: Philosopher-Regular; 
src: url(fonts/Philosopher-Regular.ttf); 
}

@font-face {
font-family: Honeyscriptcyr_light; 
src: url(fonts/honeyscriptcyr_light.otf); 
}

@font-face {
font-family: Adventure; 
src: url(fonts/Adventure.ttf); 
}

body {
	margin:0;
	background-color: #000;
	}

nav{
	width: 100%;
	height: 70px;
	background-color: black;
	
	display: flex;
	align-items: center;
	justify-content: center;
    position: fixed; 
    top: 0; 
    z-index: 1000;
}

.menu{
	font-family: PlayfairDisplaySC-Bold;
	font-size: 20px;
	color: #b5b5b5;
	
	padding: 0 5%;
	text-decoration: none;
	position: relative;
	transition: 0.5s;
}

.menu:hover {
	font-size: 22px;
	color: #e3e3e3;
}

.menu::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: #858585;
    transition: width 0.3s;
	
}

.menu:hover::after {
    width: 200px;
	
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: #b5b5b5;
    padding: 0 5%;
    cursor: pointer;
}

.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-screen-menu a {
    color: #e3e3e3;
    font-size: 24px;
    margin: 20px 0;
    text-decoration: none;
}


h3 {
  text-align: center;
  font-size: 40px;
  font-family: PlayfairDisplaySC-Regular;
  color: red;
  margin: 0px;
  color: #dba21d;
}

h4 {
  text-align: center;
  color: #911411;
  font-size: 30px;
  font-family: PlayfairDisplaySC-Bold;
  line-height: 0.9;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}

p {
  text-indent: 30px;
  margin: 0;
  line-height: 1.25;
}

.wrap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.text, p{
  text-indent: 25px;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  font-family: Philosopher-Regular;
  text-align: justify;
  opacity: 0.9;
}

.wrap-main {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 8% 8% 0% 8%;
  justify-content: space-around;

}

.img-title3 {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.img-writer {
	width: 400px;
	height: auto;
}

.img_background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5a100f;
	border-radius: 15px;
	height: 420px;
	width: 1000px;
	overflow: hidden;
}

.center_writer {
	margin: 4% 0%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote {
	color: #e3e3e3;
	font-size: 40px;
	width: 500px;
	text-align: center;
	font-family: Adventure; 
	line-height: 1;
}

footer {
	display: flex;
    justify-content: center;
	align-content: center;
	align-items: center;
	font-family: PlayfairDisplaySC-Regular; 
	margin-top: 5%;
	font-size: 20px;
	width: 100%;
	height: 50px;
	background-color: #171717;
	color: #b8b8b8;
}

.line-1, .line-2{
	height: 2px;
	background-color: #7f7f7f;
	margin-top:0.7%;
}


.line-wrap {
	display: flex;
	align-items: center;
    justify-content: space-between;
	height: 50px;
}

.line-1 {
	width: 10%;
}

.line-2 {
	width: 70%;
}

.title2 {
	font-family: PlayfairDisplaySC-Regular;
	color: #e3e3e3;
	font-size: 35px;
	margin-top: 0%
}

.step, .data {
	text-align: center;
}

h5 {
	text-align: center;
	font-family: Philosopher-Regular;
	color: #fff;
    font-size: 28px;
	font-weight: 5px;
	margin:0;
	
}

.data {
	opacity: 0.8;
	text-indent: 0px;
}

.link_button {
	font-family: PlayfairDisplaySC-Regular;
	font-size: 23px;
	color: #f0ebe8;
	
	display: flex;
	align-items: center;
    text-align: center;
	justify-content: center;
	text-decoration: none;
	width: 250px;
	height: 50px;
	border-radius: 10px;
	background-color: #171717;
	border: 1px solid #dba21d;
	text-transform: uppercase;
	transition: 0.5s;
	margin: 0 auto;
	
}


.link_button:hover {
	background-color: #dba21d;
	border: 1px solid #dba21d;
	color: #000;
	font-weight: bold;
}


@media (max-width: 767px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .full-screen-menu {
        display: flex;
    }
}